.App {
  text-align: center;
  font-family: "Cachet";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
* css font info taken from 'https://www.onlinewebfonts.com/download/3c32aafd3b3789b47e669e046f6c51b5'
* 
*/
@font-face {
  font-family: "Cachet";
  src: url("//db.onlinewebfonts.com/t/3c32aafd3b3789b47e669e046f6c51b5.eot");
  src: url("//db.onlinewebfonts.com/t/3c32aafd3b3789b47e669e046f6c51b5.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3c32aafd3b3789b47e669e046f6c51b5.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/3c32aafd3b3789b47e669e046f6c51b5.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/3c32aafd3b3789b47e669e046f6c51b5.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/3c32aafd3b3789b47e669e046f6c51b5.svg#Cachet")
      format("svg");
}
